<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
  <style>
    h1 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 2rem;
    }

    .oauth-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    #oauth-google img {
      margin-right: 1.5rem;
      margin-top: -5px;
    }
  </style>
  <title>Project- Words and Paragraph Counter</title>
</head>
<body>
  <h1>Project- Words and Paragraph Counter</h1>
  <div class="oauth-box">  
    <div id="oauth-google">
      <a href="{{ url_for('b2.login_google') }}">
        <img src="{{ url_for('static', filename='/images/google-logo.png') }}" 
        width="55px" height="55px" alt="Google logo">
      </a>
    </div>
    <div>
      <a href="{{ url_for('b3.login_github') }}">
        <img src="{{ url_for('static', filename='/images/github-logo.png') }}" 
        width="41px" height="42px" alt="Github logo">
      </a>
    </div>
  </div>
</body>
</html>